<div class="row m-2">
  <%= form_tag post_images_path, method: :get, class: 'boards__searchForm text-white' do %>

  <div class = "drop-down btn-group">
    <button class = "btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
      タグで絞り込む
    </button>
    <div class = "dropdown-menu">
      <% tags.each do |tag| %>
        <%= link_to tag.name, post_images_path(name: tag.id), class: "dropdown-item" %>
        <% end %>
      <%= link_to "全ての投稿", post_images_path, class: "dropdown-item" %>
    </div>
  </div>

  <div class = "drop-down btn-group">
    <button class = "btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
      並び替え
    </button>
    <ul class = "dropdown-menu">
      <li class="dropdown-item"><%= link_to '新しい順', post_images_path(latest: "true") %></li>
      <li class="dropdown-item"><%= link_to '古い順', post_images_path(old: "true") %></li>
      <li class="dropdown-item"><%= link_to 'オススメ順', post_images_path(star_count: "true") %></li>
    </ul>
  </div>
</div>


<div class="row m-2">
  <% post_images.each do |post_image| %>
  <div class="col-md-4 p-2">
    <div class="card border-success shadow h-100">
      <%= link_to post_image_path(post_image.id) do %>
        <% if post_image.image.attached? %>
          <%= image_tag post_image.image, class:"card-img-top img-fluid max-width: 100%;, height: auto;" %>
        <% else %>
          <img src="/assets/no-image.jpg/100x100">
        <% end %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title text-success text-center "><%= post_image.title %></h5>
        <p class="card-text"><i class="fa-solid fa-pen-fancy"></i><%= post_image.body %></p>
        <p class="card-text"><i class="fa-solid fa-location-dot"></i><%= post_image.postcode %></p>
        <p class="card-text"><i class="fa-solid fa-map"></i><%= post_image.address %></p>
        <p class="card-text"><% post_image.tags.each do |tag| %>
            <i class="fa-solid fa-hashtag"></i>
            <%= link_to tag.name, post_images_path(name: tag.id) %>
          <% end %>
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="d-flex">
            <div class="p-2">❤️<%= post_image.favorites.count %></div>
            <div class="p-2">
              <div id="star_<%= post_image.id %>"></div>
                <script>
                  $(document).on('turbolinks:load', function() {
                    let elem = document.querySelector('#star_<%= post_image.id %>');
                    if (elem == null) return;
                    elem.innerHTML = "";
                    let opt = {
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      score: "<%= post_image.star %>",
                      readOnly: true,
                    };
                    raty(elem, opt);
                  });
                </script>
            </div>
            <div class="py-2"><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></div>
          </div>
        </li>
        <li class="list-group-item">
          <span><%= image_tag post_image.user.get_profile_image(70,70), class:"rounded" %></span>
          <span><%= post_image.user.name %></span>
          <span class="p-2"><%= post_image.created_at.strftime('%Y/%m/%d') %></span>
        </li>
        <li class="list-group-item text-center">
          <%= link_to "詳細画面", post_image_path(post_image.id), class: "btn btn-success m-0" %>
        </li>
      </ul>
    </div>
  </div>
  <% end %>
</div>
<% end %>
