<%= render 'public/searches/search' %>
<!-- post_imageの投稿一覧/ユーザーの投稿一覧 -->
<%= form_tag post_images_path, method: :get, class: 'boards__searchForm' do %>
  <% tags.each do |tag| %>
    <%= link_to tag.name, post_images_path(name: tag.id) %>
  <% end %>
    <%= link_to "全ての投稿", post_images_path %>

<div class="row m-5">
  <% post_images.each do |post_image| %>
  <div class="col-md-4 p-2">
    <div class="card border-success shadow h-100">
      <%= link_to post_image_path(post_image.id) do %>
        <%= image_tag post_image.get_image, class:"card-img-top"; %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title text-success text-center "><%= post_image.title %></h5>
        <p class="card-text">説明：<%= post_image.body %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">タグ：<% post_image.tags.each do |tag| %>
            <%= link_to tag.name, post_images_path(name: tag.id), class: "card-link" %>
          <% end %>
        </li>
        <li class="list-group-item">コメント：
          <%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id), class: "card-link" %>
        </li>
        <li class="list-group-item">
          <span>ユーザー：<%= image_tag post_image.user.get_profile_image(70,70), class:"rounded" %></span>
          <span><%= post_image.user.name %></span>
        </li>
        <li class="list-group-item text-center">
          <%= link_to "詳細画面", post_image_path(post_image.id), class: "btn btn-success m-0" %>
        </li>
      </ul>
    </div>
  </div>
  <% end %>
</div>
<% end %>
