<h5 class="border-bottom shadow-sm m-5 p-2 text-center">
  <i class="fa-solid fa-magnifying-glass"></i> 検索結果
</h5>

<div class="container-fluid">
  <div class="row m-5">
    <div class="col-md-4 p-2">
      <!--検索対象モデルがUserの時 -->
    <% if @range == "ユーザー名" %>
      <h5>検索ワード "<%= @word %>"</h5>
      <table class="table table-bordered text-center">
        <% @users.each do |user| %>
        <thead>
          <tr>
            <th scope="col">プロフィール画像</th>
            <th scope="col">ユーザー名</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag user.get_profile_image(50, 50) %></td>
            <td><%= link_to user_path(user.id) do %>
                  <%= user.name %>
                <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    <% else %>
      <!--検索対象モデルがUserではない時(= 検索対象モデルがpost_imageの時) -->
      <h5>検索ワード "<%= @word %>"</h5>
      <table class="table table-bordered text-center">
        <% @post_images.each do |post_image| %>
        <thead>
          <tr>
            <th scope="col">投稿画像</th>
            <th scope="col">投稿タイトル</th>
            <th scope="col">投稿内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag post_image.image, width: 70, height: 70 %></td>
            <td><%= link_to post_image.title, post_image_path(post_image.id) %></td>
            <td> <%= post_image.body %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    <% end %>
      </div>
  </div>
</div>