<div class="ps-relative">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <div class="filter">
          <%= image_tag "01.webp", class: "d-block w-100 filter-img", alt: "ふなっこ流し" %>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>岩手の観光地、名物を投稿して、みんなにシェアしちゃおう！</h5>
          <p><%= link_to "新規登録", new_user_registration_path, class:'btn btn-outline-primary' %></p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="filter">
          <%= image_tag "02.webp", class: "d-block w-100 filter-img", alt: "チャグチャグ馬っ子" %>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>みんなが投稿した「魅力」を検索して、岩手を旅しよう！</h5>
          <p><%= link_to "ログイン", user_session_path, class:'btn btn-outline-secondary' %></p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="filter">
          <%= image_tag "03.webp", class: "d-block w-100 filter-img", alt: "わんこそば" %>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>まずはお試しで！</h5>
          <p><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-outline-success"%></p>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="ps-absolute text-center text-white" >
          <h1>TOKO IWATE</h1>
    </div>
  </div>
</div>