<div class="container mt-5">
  <h3>全ユーザー一覧</h3>
    <p>メモ-trueなら退会ユーザー、消したらそのメアドで再登録できる</p>
  <table class="table mt-3">
    <tr>
      <th>ユーザーID</th>
      <th>名前</th>
      <th>メール</th>
      <th>false=入会中<br>true=退会中</th>
      <th>ボタン</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.is_deleted %></td>
      <td><%= link_to '完全削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %></td>
    </td>
    <% end %>
  </table>
</div>
