<!DOCTYPE html>
<html>
  <head>
    <title>to-ko-iwate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/34dcc872b1.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to post_images_path, class:'nav-link text-dark' do %>
                    <i class="fa-regular fa-images"></i> 投稿一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_user_session_path, method: :delete, class:'nav-link text-dark' do %>
                    <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_post_image_path, class:'nav-link text-dark', data:{"turbolinks"=>false} do %>
                    <i class="fa-solid fa-plus"></i> 投稿フォーム
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to user_path(current_user.id), class:'nav-link text-dark' do %>
                    <i class="fa-regular fa-address-card"></i> マイページ
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_group_path, class:'nav-link text-dark' do %>
                    <i class="fa-solid fa-users-rectangle"></i> グループを作成する
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to groups_path, class:'nav-link text-dark' do %>
                    <i class="fa-solid fa-people-group"></i> グループ一覧
                  <% end %>
                </li>
              <% else %>
                <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class:'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                <%= link_to "ログイン", user_session_path, class:'nav-link text-dark' %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <main>
        <%= yield %>
      </main>

      <footer class="container-fluid bg-secondary p-3">
        <ul class="nav justify-content-center p-3">
          <li class="nav-item">
            <%= link_to "Home", root_path, class:'nav-link text-white' %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class:'nav-link text-white' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", user_session_path, class:'nav-link text-white' %>
          </li>
        </ul>
      </footer>

    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
  </body>
</html>
